@font-face {
  font-family: "FiraBook";
  src: url("../fonts/FiraGO-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraBold";
  src: url("../fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FiraNorm";
  src: url("../fonts/FiraGO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Myr";
  src: url("../fonts/MyriadGEOMtavruliMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraSemi";
  src: url("../fonts/FiraGO-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
