.about-us {
  width: 100%;
  height: 500px;
  background: url(../img/main-img.jpg) center center/cover no-repeat;

  @include tab {
    height: 400px;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      object-fit: cover;

      &:first-child {
        top: 0;
        left: 0;
        width: 219px;
        height: 219px;

        @include tab {
          display: none;
        }
      }

      &:nth-child(2) {
        bottom: 0;
        right: 0;
        width: 341px;
        height: 160px;

        @include tab {
          top: 0;
          right: 0;
        }
      }
    }
  }

  &__red {
    width: 100%;
    height: 100%;
    background-color: rgba($color: $red, $alpha: 0.7);
    padding: 60px 0;
  }

  &__wrapper {
    width: 460px;
    height: 342px;
    background: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include tab {
      position: absolute;
      right: 0;
      left: 0;
      top: 300px;
      border-radius: 12px;
      background: #f8f8f8;
    }

    @include sm {
      width: 334px;
      height: 323px;
    }

    @include rwd(380) {
      width: 90%;
      height: auto;
      padding: 34px 0 10px 0;
    }

    img {
      display: none;
      width: 76px;
      height: 76px;
      float: left;

      @include tab {
        display: block;
      }
    }

    h3 {
      font-size: 22px;
      color: #fff;

      @include tab {
        color: black;
      }

      @include sm {
        font-style: 18px;
      }
      @include rwd(380) {
        margin-bottom: 30px;
      }
    }
    p {
      font-family: "FiraBook";
      color: #fff;
      text-align: center;

      @include tab {
        color: black;
        font-size: 13px;
      }

      @include sm {
        font-style: 13px;
      }

      @include rwd(380) {
        margin-bottom: 10px;
      }
    }
    a {
      width: 169px;
      height: 56px;
      border-radius: 28px;
      background: $red;
      color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px 10px 16px -8px rgba(228, 25, 11, 0.58);
    }
  }

  &__img {
    display: none;
    width: 76px !important;
    height: 76px !important;
    float: left !important;
    top: -30px !important;

    @include tab {
      display: block !important;
    }
  }
}
